<div class="card-grid">
  <div class="card card-shadow">
    <div class="card-header card-image">
      <img src="http://hp-api.herokuapp.com/images/harry.jpg" alt="" />
    </div>
    <div class="card-body">
      <h1>Harry Potter</h1>
      <p>Magic wand</p>
    </div>
  </div>

  <div class="card card-shadow">
    <div class="card-header card-image">
      <img src="http://hp-api.herokuapp.com/images/sirius.JPG" alt="" />
    </div>
    <div class="card-body">
      <h1>Harry Potter</h1>
      <p>Magic wand</p>
    </div>
  </div>
</div>
